<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenKasm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/css/flat-ui.css" rel="stylesheet">
    <link href="static/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="static/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="demo-headline">
      <h1 class="demo-logo">
        <div class="logo"></div>
          OpenKasm
        <small>Banish Junk Mail Forever!</small>
      </h1>
    </div> <!-- /demo-headline -->
    <div class="container">
      <div class="row">
        <form class="form-inline" role="form" onsubmit="submitForm()">
          <div class="col-xs-5 col-xs-offset-3">
              <label class="sr-only" for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="inputEmail" style="width: 100%;" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-default">Anonymize</button>
        </form> 
      </div>
    </div>
    <!-- /.container -->


    <!-- Load JS here for greater good =============================-->
    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-select.js"></script>
    <script src="static/js/bootstrap-switch.js"></script>
    <script src="static/js/flatui-checkbox.js"></script>
    <script src="static/js/flatui-radio.js"></script>
    <script src="static/js/jquery.tagsinput.js"></script>
    <script src="static/js/jquery.placeholder.js"></script>
  </body>
</html>
